  .wrapper {
    margin: 50px;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  #name-and-photo {
    display:flex;
    position:fixed;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  p {
    text-align: center;
  }