  html {
    scroll-behavior: smooth;
  }
  .wrapper {
    margin: 50px;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: space-between;
  }

  .column:first-of-type {
    flex-direction: row; 
    justify-content: center;
  }

  #name-and-photo {
    display:flex;
    position:fixed;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    text-align: center;
  }

  #name-and-photo h1{
    text-align: center;
    align-items: center;
  }
  .anchor-links {
    background-color: #27657C;
    text-align: center;
    text-justify:distribute;
    margin-right: 20px;
    border-radius: 5px;
    font-weight: 500;
    font-size: medium;
    padding:5px;
    transition: .3s ease-in-out;
  }

  .anchor-links:hover {
    background-color:rgb(255, 255, 255);
    color:#27657C;
  }
  h4 a {
    color:white;
  }
  h4 a:hover{
    color:#27657C;
    text-decoration: none;

  }
  .img {
    box-shadow: 5px 5px 5px #ccc;
  }
  h5 {
    color:grey;
  }
  #resume {
    padding: 3px; 
    border-radius:5px; 
    color: black; 
    background-color: lightblue;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
  }

  .resume {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }

* {
  font-family: Work sans;
}

p{
  color: lightgrey;
}

#githublink {
  color: lightblue;
}

#social-media-links {
  margin-top: 35px;
}
#desktop-maintain {
  display:block;
}
#phone-maintain {
  display:none;
}

#headshot {
  margin-top: 20px;
  border-radius: 50px;
  width:300px; 
  height:400px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 20px 20px rgba(0, 0, 0, 0.12);
}

#about-me {
  margin-top: 35px;
}

#about-me-text {
  color: grey;
}

.bold-about {
  color:#27657C;
  font-weight: 600;
  box-shadow: inset 0 0 0 0 #27657C;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.bold-about:hover {
  box-shadow: inset 350px 0 0 0 #27657C;
  color:white;
}

iframe {
  width:800px;
  height:500px;
}


@media screen and (max-width: 600px) {
  .wrapper {
    margin: 50px;
    display:flex;
    justify-content: center;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: space-between;
  }

  .column:first-of-type {
    flex-direction: row; 
    justify-content: center;
  }

  #name-and-photo {
    display:flex;
    position:relative;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    text-align: center;
    align-self: center;
  }

  #rightdiv {
    display:flex;
    align-items: center;
  }

  #name-and-photo h1{
    text-align: center;
    align-items: center;
  }
  .anchor-links {
    background-color: #27657C;
    text-align: center;
    text-justify:distribute;
    margin-right: 0px;
    border-radius: 5px;
    font-weight: 500;
    font-size: medium;
    color:white;
    padding:4px;
  }

  .img {
    box-shadow: 5px 5px 5px #ccc;
  }

  #resume {
    padding: 3px; 
    border-radius:5px; 
    color: black; 
    background-color: #add8e6;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
  }

  .resume {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }

  * {
    font-family: Work sans;
  }

  p{
    color: lightgrey;
  }

  #githublink {
    color: lightblue;
  }

  #social-media-links {
    margin-top: 25px;
    z-index: 15;
  }

  #headshot {
    margin-top: 20px;
    width:150px;
    height:200px;
    align-self: center;
    border-radius: 25px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 20px 20px rgba(0, 0, 0, 0.12);
  }
  #phone-maintain {
    display:block;
    text-align: center;
  }
  #desktop-maintain {
    display:none;
    
  }

  iframe {
    width:300px;
    height:200px;
  }

}